{% extends 'sphere/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
.container {
    padding: 20px;
}

/* Card styling */
.card {
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Form styling */
form {
    width: 100%;
}

/* Label styling */
.form-label {
    font-weight: italic;
    margin-bottom: 5px;
}

/* Input field styling */
.form-group input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border:none;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
    background: #555;
    color: #fff;
}

/* Focus effect for input fields */
.form-group input:focus {
    border-color: #007bff;
    outline: none;
}



/* Margin for the bottom of the form */
.mb-3 {
    margin-bottom: 1.5rem;
}

/* Text-center class */
.text-center {
    text-align: center;
}

</style>
<!-- <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card" style="width: 100%; max-width: 500px;">
        <div class="card-body">
            <h5 class="text-center mb-4">Enter Your Email Address</h5>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-secondary rounded-pill">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div> -->


    <p>Hello,</p>
    <p>You're receiving this email because you requested a password reset for your account.</p> 
    <p>Click the link below to reset your password:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset your password</a></p>


{% endblock %}